Source: closebutton
Maintainer: Sergio Costas <rastersoft@gmail.com>
Priority: optional
Section: misc
Build-Depends: build-essential, po-debconf, valac, libatk1.0-dev, libcairo2-dev, libgtk-3-dev, libgdk-pixbuf2.0-dev, libgee-0.8-dev, libglib2.0-dev, libpango1.0-dev, libx11-dev, cmake, gettext, pkg-config, gcc, g++, make, intltool

Package: closebutton
Architecture: any
Version: 1.0.0
Depends: libatk1.0-0, libglib2.0-0, libcairo2, libgtk-3-0, libpangocairo-1.0-0, libpango-1.0-0, libgdk-pixbuf2.0-0, libcairo-gobject2, libgee-0.8-2, libx11-6
Description: This is a plugin for GEdit 3 that enables the Close Button when the
 left panel is visible and the user moved the close button to the left.
 .
